<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/cadastro.css" />
    <title>Cadastro</title>
  </head>
  <body>
    <h3></h3>
    <div class="container">
      <header>
        <img src="./assets/imgs/logo.png" class="logo" />
      </header>
      <div class="form">
        <label for="name" class="label">
          <span class="input-span">Nome</span>
          <div class="input-container">
            <i class="bi bi-person-fill"></i>
            <input type="text" id="nome" class="input" placeholder="Nome" />
          </div>
        </label>
        <label for="tel" class="label">
          <span class="input-span">Telefone</span>
          <div class="input-container">
            <i class="bi bi-telephone-fill"></i>
            <input
              type="tel"
              id="telefone"
              class="input"
              placeholder="Número de telefone"
              autofocus />
          </div>
        </label>
        <label for="address" class="label">
          <span class="input-span">Endereço</span>
          <div style="display: flex; gap: 5px">
            <div class="input-container">
              <i class="bi bi-geo-alt-fill"></i>
              <input type="text" id="rua" class="input" placeholder="Rua" />
            </div>
            <div class="input-container">
              <i class="bi bi-123"></i>
              <input
                type="text"
                id="numero"
                class="input"
                placeholder="Número" />
            </div>
            <div class="input-container">
              <i class="bi bi-geo"></i>
              <input type="text" id="cep" class="input" placeholder="CEP" />
            </div>
          </div>
        </label>
        <label for="email" class="label">
          <span class="input-span">Email</span>
          <div class="input-container">
            <i class="bi bi-envelope"></i>
            <input
              type="email"
              id="email"
              class="input"
              placeholder="Insira seu email"
              autofocus />
          </div>
        </label>
        <label for="password" class="label">
          <span class="input-span">Senha</span>
          <div class="input-container">
            <i class="bi bi-lock-fill"></i>
            <input
              type="password"
              id="senha"
              class="input"
              placeholder="*************" />
          </div>
        </label>
        <button type="submit" class="btn" onclick="cadastrar()">
          Cadastrar
        </button>
      </form>
      <footer>
        <span
          >Já tem uma conta?
          <a href="login.html" class="footer-link">Entrar!</a></span
        >
      </footer>
    </div>
    <script src="./js/cadastro.js"></script>
  </body>
</html>
