<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <img src="./assets/imgs/logo.png" alt="logo" />
            <li><a href="home.html" class="nav-link px-2 text-white">Home</a></li>
            <li><a href="produtos.html" class="nav-link px-2 text-white">Produtos</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Loja</a></li>
            <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="search form-control form-control-dark text-bg-dark"
              placeholder="Busca"
              aria-label="Search"
            />
          </form>

          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Cadastre-se</button>
            <img
              class="carrinho"
              src="./assets/imgs/carrinho.svg"
              alt="carrinho"
            />
          </div>
        </div>
      </div>
    </header>

    <div id="imgHome">
      <img src="./assets/imgs/imgHome/home.png" id="imgHomeGato">
      <div id="textHome">
        <h2>Bem-vindo ao nosso Petshop!</h2>
        <p>Encontre tudo o pet precisa em um só lugar. Temos uma variedade de produtos que são cuidadosamente selecionados para atender às necessidades e mimar os nossos amiguinhos de quatro patas.</p>
        <p>Dê uma olhada em nossa seleção exclusiva de produtos e descubra o que há de melhor para o seu animal de estimação. Navegue pelas seções e deixe-se encantar por nossa diversidade e qualidade.</p>
        <p>Explore nossa loja online agora e faça do seu amiguinho o mais feliz de todos!</p>
        <button type="button" class="btn btn-warning" id="btnProdutos">Pet Produtos</button>
      </div>
    </div>
  </body>
</html>
