<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/nav-footer.css" />
    <link rel="stylesheet" href="./css/produtos.css" />
    <title>Home</title>
  </head>
  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <img src="./assets/imgs/logo.png" alt="logo" />
            <li>
              <a href="home.html" class="nav-link px-2 text-white">Home</a>
            </li>
            <li>
              <a href="produtos.html" class="nav-link px-2 text-white"
                >Produtos</a
              >
            </li>
            <li>
              <a href="loja.html" class="nav-link px-2 text-white">Loja</a>
            </li>
            <li>
              <a href="faq.html" class="nav-link px-2 text-white">FAQs</a>
            </li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="search form-control form-control-dark text-bg-dark"
              placeholder="Busca"
              aria-label="Search" />
          </form>

          <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">
              <a href="login.html" class="linkLogin">Login</a>
            </button>
            <button type="button" class="btn btn-warning">
              <a href="cadastro.html" class="linkCadastro">Cadastre-se</a>
            </button>
            <a href="carrinho.html">
              <img
              class="carrinho"
              src="./assets/imgs/carrinho.svg"
              alt="carrinho"/>
            </a>
          </div>
        </div>
      </div>
    </header>

    <div class="container-lg">
      <div class="highlight">Produtos</div>
    </div>

    <div class="container-lg">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100">
            <img
              src="./assets/imgs/produtos/racao.webp"
              class="card-img-top"
              alt="..."
              height="250"
              width="250" />
            <div class="card-body">
              <h5 class="card-title">
                Golden Seleção Natural - Ração para Cachorro Filhote
              </h5>
              <p class="card-text">Frango e Arroz</p>
              <p class="card-price">R$ 34.99</p>
              <button type="submit" class="card-button" onclick="produtos(1)" id="1">
                <a class="link" href="#" target="_blank"></a>Pedir
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img
              src="./assets/imgs/produtos/royal_canin.webp"
              class="card-img-top"
              alt="..."
              height="250"
              width="250" />
            <div class="card-body">
              <h5 class="card-title">
                Royal Canin Mini - Ração para Cachorro Filhote
              </h5>
              <p class="card-text">Frango e Arroz</p>
              <p class="card-price">R$ 24.99</p>
              <button type="submit" class="card-button" onclick="produtos(2)" id="2">
                <a class="link" href="#" target="_blank"></a>Pedir
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img
              src="./assets/imgs/produtos/brinquedo_gato.webp"
              class="card-img-top"
              alt="..."
              height="250"
              width="250" />
            <div class="card-body">
              <h5 class="card-title">
                Brinquedo para Gatos - Rato de Brinquedo
              </h5>
              <p class="card-text"></p>
              <p class="card-price">R$ 9.99</p>
              <button type="submit" class="card-button" onclick="produtos(3)" id="3">
                <a class="link" href="#" target="_blank"></a>Pedir
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img
              src="./assets/imgs/produtos/origens.webp"
              class="card-img-top"
              alt="..."
              height="250"
              width="250" />
            <div class="card-body">
              <h5 class="card-title">
                Origens Premium Especial Class - Ração para Cães Adultos
              </h5>
              <p class="card-text">Carne e Frango</p>
              <p class="card-price">R$ 173,61</p>
              <button type="submit" class="card-button" onclick="produtos(4)" id="4">
                <a class="link" href="#" target="_blank"></a>Pedir
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img
              src="./assets/imgs/produtos/catnip.webp"
              class="card-img-top"
              alt="..."
              height="250"
              width="250" />
            <div class="card-body">
              <h5 class="card-title">
                Catnip - Cansei de Ser Gato
              </h5>
              <p class="card-text">2g</p>
              <p class="card-price">R$ 11,99</p>
              <button type="submit" class="card-button" onclick="produtos(5)" id="5">
                <a class="link" href="#" target="_blank"></a>Pedir
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img
              src="./assets/imgs/produtos/purinpropaln.webp"
              class="card-img-top"
              alt="..."
              height="250"
              width="250" />
            <div class="card-body">
              <h5 class="card-title">
                Purina Pro Plan - Ração úmida para Gatos Sterilized
              </h5>
              <p class="card-text">Sachê sabor Frango 85g</p>
              <p class="card-price">R$ 6,99</p>
              <button type="submit" class="card-button" onclick="produtos(6)" id="">
                <a class="link" href="#" target="_blank"></a>Pedir
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img
              src="./assets/imgs/produtos/tapete.webp"
              class="card-img-top"
              alt="..."
              height="250"
              width="250" />
            <div class="card-body">
              <h5 class="card-title">
                Tapete Higiênico Petz
              </h5>
              <p class="card-text">Carvão Ativado para Cães</p>
              <p class="card-price">R$ 25,99</p>
              <button type="submit" class="card-button" onclick="produtos(7)" id="">
                <a class="link" href="#" target="_blank"></a>Pedir
              </button>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img
              src="./assets/imgs/produtos/racaogranplus.webp"
              class="card-img-top"
              alt="..."
              height="250"
              width="250" />
            <div class="card-body">
              <h5 class="card-title">
                GranPlus Gourmet - Ração para Cães Adultos de Médio e Grande Porte 
              </h5>
              <p class="card-text">Ovelha e Arroz - 3kg</p>
              <p class="card-price">R$ 199.99</p>
              <button type="submit" class="card-button" onclick="produtos(8)" id="">
                <a class="link" href="#" target="_blank"></a>Pedir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-container" style="margin-top: 0px">
        <div class="footer-logo">
          <img
            src="./assets/imgs/logo.png"
            class="logo_footer"
            alt="Logo Petshop" />
        </div>
        <div class="footer-links">
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="produtos.html">Produtos</a></li>
            <li><a href="loja.html">Loja</a></li>
            <li><a href="faq.html">FAQs</a></li>
          </ul>
        </div>
        <div class="footer-contact">
          <ul>
            <li>
              <i class="fa fa-map-marker"></i> Endereço: Rua Petrópolis, 1234 -
              Cidade, Estado
            </li>
            <li><i class="fa fa-phone"></i> Telefone: (12) 3456-7890</li>
            <li><i class="fa fa-envelope"></i> Email: contato@petshop.com</li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="js/carrinho.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
  </body>
</html>
