.search::placeholder {
  color: white;
}

.carrinho {
  width: 27px;
  height: 27px;
  margin-left: 7px;
  border-radius: 20%;
}
.carrinho:hover {
  width: 36px;
  height: 36px;
  transition: 0.3s;
  cursor: pointer;
}

/* Produtos */
.highlight {
  color: white;
  padding: 5px 0;
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center !important;
}

.container-lg {
  padding: 2%;
}

.mg-b-5 {
  margin-bottom: 5%;
}

.mg-t-5 {
  margin-top: 5%;
}

.card-price {
  font-weight: bold;
}

.card-button {
  border-radius: 10%;
  color: white;
  background-color: royalblue;
  border: 0px;
  padding: 1% 5%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media screen and (max-width: 480px) {
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }
}
#imgHome {
  width: 100%;
  margin-top: 30px;
  position: relative;
}

#imgHomeGato {
  width: 100%;
}

#textHome {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
  background-color: #0000004d;
  border-radius: 2%;
  width: 50%;
  height: 50%; 
  padding-bottom: 65px; 
}
#btnProdutos {
  position: absolute; /* Adicionado position: absolute */
  bottom: 15px;
  height: 65px;
  width: 135px;
  box-shadow: 0 0 5px #eeedea, 0 0 2.5px #f8d302;
  left: 50%;
  transform: translateX(-50%);
}

#btnProdutos:hover {
  color: #fff;
  box-shadow: 0 0 5px #eeedea, 0 0 2.5px #f8d302;
  background-color: #ffa600e3;
  height: 75px;
  width: 145px;
  cursor: pointer;
  transition: 300ms;
}