/* Fonte */
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
/* Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bree Serif", serif;
}

body {
  height: 100vh;
  background-color: #0d1117;
  overflow: hidden;
}

h3 {
  border: solid 1px #ffc107;
}

.logo {
  width: 150px;
  filter: drop-shadow(1px 1px 25px #ffc107);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--textSecondary);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 400px;
  gap: 1rem;
  margin-top: 2.5rem;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.email-span,
.password-span {
  color: #fff;
  font-weight: 600;
  line-height: 1.25rem;
}

input,
button {
  border: 0;
  border-radius: 5px;
}

.input-email-container,
.input-password-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  background-color: #171d27;
  border-radius: 5px;
  transition: 0.3s;
}

.input-email-container:focus-within,
.input-password-container:focus-within {
  box-shadow: inset 0 0 0 calc(2px + 0px) #ffc107;
}

.input-email-container i,
.input-password-container i {
  font-size: 24px;
}

.input-email,
.input-password {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #ffc107;
  background-color: transparent;
  outline: none;
  flex: 1;
}

i {
  color: #fff;
}

.input-email::placeholder,
.input-password::placeholder {
  color: #ffc107;
}

.btn {
  margin-top: 1rem;
  padding: 0.75rem 1rem 1rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #000;
  background-color: #ffc107;
  box-shadow: 0 0 1px #ffc107, 0 0 5px #ffc107;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: #000000;
  color: #fff;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

footer span {
  color: #fff;
}

.footer-link {
  color: #ffffff7a;
  font-size: 0.875rem;
  line-height: 1rem;
  text-decoration: underline;
  transition: 0.3s;
}

.footer-link:hover {
  color: #ffc107;
}
